@use "keyframes" as *;
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");

.pagetoggle {
	letter-spacing: 1px;
	font-family: "Gemunu Libre", Arial, Helvetica, sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 2em;
	font-style: italic;
	position: relative;
	display: inline-block;
	margin-left: 0.5em;

	animation: glitch 5s infinite;
	&::before {
		content: attr(data-text);
		position: absolute;
		left: -2px;
		text-shadow: -2px 0 lightgreen;
		top: 0;
		animation: noise-1 3s linear infinite alternate-reverse,
			glitch 5s infinite;
	}

	&::after {
		content: attr(data-text);
		position: absolute;
		left: -2px;
		text-shadow: -2px 0 lightblue;
		top: 0;
		animation: noise-2 3s linear infinite alternate-reverse,
			glitch 5s 5s infinite;
	}

	// .cover {
	// 	z-index: -1;

	// 	background: rgb(244, 85, 8);
	// 	background: linear-gradient(
	// 		90deg,
	// 		rgba(244, 85, 8, 1) 13%,
	// 		rgba(255, 216, 0, 1) 100%
	// 	);

	// 	content: "";
	// 	position: absolute;
	// 	height: 100%;
	// 	width: 100%;
	// 	left: 0;

	// 	transform: scaleX(0);
	// 	transition: transform 250ms linear;
	// }

	// &:hover {

	// 	// .cover {
	// 	// 	// transform: scaleX(1);
	// 	// 	// transform-origin: left;
	// 	// }
	// }

	// h1:has(&) {
	// 	display: block;
	// }
}

// .animateHeaderClass {
// 	animation: animateHeader 500ms linear forwards;
// }

.cover {
	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	background-color: blue;

	opacity: 0.8;
}

@keyframes coverSkew {
}
