.landing {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: auto;
	margin-left: 8em;
	.face_wrapper {
		flex-basis: 25%;
		flex: 1;
		img {
			border-radius: 50%;
		}
	}
	.header {
		flex: 2;
		font-size: 4em;
		opacity: 0;
	}
}

.form {
	h2 {
		font-size: 2.5em;
		font-weight: 400;
	}
	width: 100%;
	align-self: stretch;
	margin-top: 2em;
	display: block;
	input {
		display: block;
		width: 75%;
	}
}
