// include media vars

//COLORS
//  light theme
$primary-light: #fff;
$secondary-light: #fff;
$tertiary-light: #fff;
//  dark theme
$primary-dark: #fff;
$secondary-dark: #fff;
$tertiary-dark: #fff;

//FONT
$font-size: 16px;
// todo
$font-family: Arial, Helvetica, sans-serif;
