// include media vars

//COLORS
//  light theme
$primary-light: #fff;
$secondary-light: #fff;
$tertiary-light: #fff;
//  dark theme
$primary-dark: #fff;
$secondary-dark: #fff;
$tertiary-dark: #fff;

//FONT
$font-size: 16px;
// todo
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

$font-family: Oswald, Helvetica, sans-serif;
