@import "../util/vars";

@mixin NavHover {
	&:hover {
		background-color: var(--secondaryBGColor);
	}
}

@mixin Tooltip($name) {
	.#{$name} {
		position: relative;
	}
	.#{$name}:hover::after {
		position: absolute;
		z-index: 10;
		top: -25px;
		background: grey;
		content: "#{$name}";
		padding: 3px;
		border-radius: 3px;
	}
}

.nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	.logo {
		stroke: #fff;
		svg {
			height: 100px;
		}
	}
	img {
		filter: brightness(0) invert(1);
	}

	.ham {
		cursor: pointer;
		display: none;
		@media screen and (max-width: $md-break) {
			display: inline-block;
		}
		width: auto;
		height: 25px;
		fill: var(--primaryTextColor);
		.animate_forwards {
			animation: 1.25s animate_ham linear forwards;
		}
		.animate_backwards {
		}
	}
	@media screen and (max-width: $md-break) {
		justify-content: flex-end;
	}
}
.linksContainer {
	display: flex;
	width: 70%;
	justify-content: space-evenly;
	align-items: center;
	a {
		@include NavHover();
		text-transform: capitalize;
		color: var(--primaryTextColor);
		text-decoration: none;
		&:hover,
		&:active {
			text-decoration: underline;
		}
		&.active {
			// on page currently
			&:hover {
				text-decoration: none;
			}
			border-bottom: 1px solid green;
		}
	}
}
.themeBtn {
	color: var(--primaryTextColor);
	background-color: var(--primaryBGColor);

	margin-left: 3em;
	width: max-content;
	padding: 10px;

	border: none;
	border-radius: 1em;
	cursor: pointer;

	@include NavHover();
}

@media screen and (max-width: 800px) {
	// .nav
	.nav {
		justify-content: flex-end;
	}
	.linksContainer {
		display: none;
	}
	.ham {
		display: block;
	}
}

// hamburger menu animation frames
@keyframes animate_ham {
}

.themeOuterContainer {
	// default value for transition effect
	width: calc(100% + 20em);
	margin-left: -10em;
	padding-left: 20px;
	margin-bottom: 10px;
	background-color: var(--secondaryBGColor);
	height: 0;
	overflow: hidden;
	transition: height 600ms ease;

	.themesContainer {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		.themeSelector {
			background: rgb(0, 234, 255);
			padding: 5px;
			border-radius: 3px;
			border: 2px solid black;
			min-width: 75px;
			text-align: center;
			cursor: pointer;
			margin-left: 25px;
			margin-right: 25px;
			p {
				margin-top: 0;
			}
			&:first-of-type {
				margin-left: 100px;
			}
			.colorDotContainer {
				display: flex;
				.colorDot {
					margin-left: 4px;
					margin-right: 4px;
					min-width: 20px;
					border: 2px solid black;
					border-radius: 50%;
					height: 20px;
					position: relative;
				}
				@include Tooltip(primaryBGColor);
				@include Tooltip(secondaryBGColor);
				@include Tooltip(primaryTextColor);
				@include Tooltip(secondaryTextColor);
			}

			transition: transform 75ms ease-in;
			&:hover {
				transform: translateY(-10%);
			}
		}
	}
}
