@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: #121212;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start infinite;
}

.animate_in {
  color: red !important
}

.fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in-element.visible {
    opacity: 1;
    transform: translateY(0);
}
