html,
body {
	color: var(--primaryTextColor);
	background: var(--primaryBGColor);

	padding: 0;
	margin-left: 5em;
	margin-right: 5em;

	// TODO put in media queries for default page margins
}

* {
	box-sizing: border-box;
}
