html {
	width: 100vw;
	height: 100vw;

	margin: 0;
	padding: 0;
}
body {
	color: var(--primaryTextColor);
	background: var(--primaryBGColor);

	margin-left: 8em;
	margin-right: 8em;
	overflow-x: hidden;

	@media screen and (max-width: 800px) {
		margin-left: 2em;
		margin-right: 2em;
	}
	// TODO put in media queries for default page margins
}

* {
	box-sizing: border-box;
}
